In [1]:
import numpy as np
import pandas as pd

In [2]:
deli= pd.read_csv("deliveries.csv")
match= pd.read_csv("matches.csv")

In [3]:
deli

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [4]:
match.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [5]:
total=deli.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [6]:
total

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2212   1426310       2         174
2213   1426311       1         175
2214   1426311       2         139
2215   1426312       1         113
2216   1426312       2         114

[2217 rows x 3 columns]

In [7]:
total=total[total['inning']==1]

In [8]:
total#stores the total score of match innings 1

      match_id  inning  total_runs
0       335982       1         222
2       335983       1         240
4       335984       1         129
6       335985       1         165
8       335986       1         110
...        ...     ...         ...
2207   1426307       1         214
2209   1426309       1         159
2211   1426310       1         172
2213   1426311       1         175
2215   1426312       1         113

[1095 rows x 3 columns]

In [9]:
merge= match.merge(total,left_on='id',right_on='match_id')

In [10]:
merge

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,1,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,1,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,1,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,1,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,1,214
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,1,159
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,1,172
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,1,175
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,1,113

In [11]:
merge=merge.drop("id",axis=1)

In [12]:
#removing teams which are not playing
match['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [13]:
realteams=['Royal Challengers Bengaluru','Delhi capitals', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Chennai Super Kings', 'Sunrisers Hyderabad','Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       ]

In [14]:
merge['team1']= merge['team1'].str.replace('Delhi Daredevils','Delhi capitals')
merge['team2']= merge['team2'].str.replace('Delhi Daredevils','Delhi capitals')

merge['team1']= merge['team1'].str.replace('Kings XI Punjab','Punjab Kings')
merge['team2']= merge['team2'].str.replace('Kings XI Punjab','Punjab Kings')

In [15]:
merge['team1']= merge['team1'].str.replace('Gujarat Lions','Gujarat Titans')
merge['team2']= merge['team2'].str.replace('Gujarat Lions','Gujarat Titans')

merge['team1']= merge['team1'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')
merge['team2']= merge['team2'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')

merge['team1']= merge['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
merge['team2']= merge['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [16]:
merge= merge[merge['team1'].isin(realteams)]
merge= merge[merge['team2'].isin(realteams)]

In [17]:
merge

,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,...,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,total_runs
0,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,222
1,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,bat,...,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,1,240
2,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi capitals,Rajasthan Royals,Rajasthan Royals,bat,...,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,1,129
3,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,bat,...,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,1,165
4,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,...,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,1,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,...,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,1,214
1091,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,...,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,1,159
1092,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,...,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,1,172
1093,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,...,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,1,175
1094,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,...,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,1,113

In [18]:
match_df=merge[['match_id','city','winner',"total_runs"]]

In [19]:
match_df=match_df.merge(deli,left_on="match_id",right_on="match_id")

In [20]:
match_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217880,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
217881,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
217882,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
217883,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
217884,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [21]:
match_df=match_df[match_df["inning"]==2]#filtering second innings

In [22]:
match_df['current_score']=match_df.groupby('match_id')['total_runs_y'].cumsum()#cumultv sum in each ball

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\1428822683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['current_score']=match_df.groupby('match_id')['total_runs_y'].cumsum()#cumultv sum in each ball

In [23]:
match_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217880,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,110
217881,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,111
217882,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,112
217883,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,113
217884,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,114

In [24]:
#runs left = total - current
match_df['runs_left']= match_df['total_runs_x']-match_df['current_score']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\638772374.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['runs_left']= match_df['total_runs_x']-match_df['current_score']

In [25]:
match_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,1,221
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,1,1,wides,0,NaN,NaN,NaN,2,220
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,0,NaN,0,NaN,NaN,NaN,2,220
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,1,0,1,NaN,0,NaN,NaN,NaN,3,219
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,4,218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217880,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,110,3
217881,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,111,2
217882,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,112,1
217883,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,113,0
217884,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,114,-1

In [26]:
match_df['balls left']=120-(match_df['over']*6+match_df['ball'])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\2192670378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['balls left']=120-(match_df['over']*6+match_df['ball'])

In [27]:
match_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls left
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,1,221,119
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,1,wides,0,NaN,NaN,NaN,2,220,118
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,2,220,117
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,1,NaN,0,NaN,NaN,NaN,3,219,116
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,4,218,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217880,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,0,1,NaN,0,NaN,NaN,NaN,110,3,61
217881,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,0,1,NaN,0,NaN,NaN,NaN,111,2,60
217882,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,0,1,NaN,0,NaN,NaN,NaN,112,1,59
217883,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,0,1,NaN,0,NaN,NaN,NaN,113,0,58
217884,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,0,1,NaN,0,NaN,NaN,NaN,114,-1,57

In [28]:
#to count no. of wickets after each ball
match_df['player_dismissed']= match_df['player_dismissed'].fillna("0")#null value to 0 string
match_df['player_dismissed'] = match_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")# jauthi player kn name achi dont tch
match_df['player_dismissed'] = match_df['player_dismissed'].astype('int')
wickets =match_df.groupby('match_id')['player_dismissed'].cumsum().values
match_df['wickets'] = 10 - wickets
match_df.head(50)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\2486526994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['player_dismissed']= match_df['player_dismissed'].fillna("0")#null value to 0 string
C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\2486526994.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['player_dismissed'] = match_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")# jauthi player kn name achi dont tch
C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\2486526994.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['player_dismissed'] = match_df['player_dismissed'].astype('int')
C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\2486526994.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['wickets'] = 10 - wickets

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls left,wickets
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,NaN,0,0,NaN,NaN,1,221,119,10
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,wides,0,0,NaN,NaN,2,220,118,10
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,0,0,NaN,NaN,2,220,117,10
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,1,NaN,0,0,NaN,NaN,3,219,116,10
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,1,NaN,0,0,NaN,NaN,4,218,115,10
129,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,6,W Jaffer,...,0,NaN,0,0,NaN,NaN,4,218,114,10
130,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,7,W Jaffer,...,0,NaN,0,0,NaN,NaN,4,218,113,10
131,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,1,R Dravid,...,0,NaN,1,1,bowled,NaN,4,218,113,9
132,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,2,V Kohli,...,0,NaN,0,0,NaN,NaN,4,218,112,9
133,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,3,V Kohli,...,4,legbyes,0,0,NaN,NaN,8,214,111,9
134,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,4,V Kohli,...,1,NaN,0,0,NaN,NaN,9,213,110,9
135,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,5,W Jaffer,...,0,NaN,0,0,NaN,NaN,9,213,109,9
136,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,6,W Jaffer,...,0,NaN,0,0,NaN,NaN,9,213,108,9
137,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,1,V Kohli,...,0,NaN,0,0,NaN,NaN,9,213,107,9
138,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,2,V Kohli,...,0,NaN,1,1,bowled,NaN,9,213,106,8
139,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,3,JH Kallis,...,1,NaN,0,0,NaN,NaN,10,212,105,8
140,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,4,W Jaffer,...,0,NaN,0,0,NaN,NaN,10,212,104,8
141,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,5,W Jaffer,...,1,wides,0,0,NaN,NaN,11,211,103,8
142,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,6,W Jaffer,...,0,NaN,0,0,NaN,NaN,11,211,102,8
143,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,7,W Jaffer,...,1,NaN,0,0,NaN,NaN,12,210,101,8
144,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,3,1,W Jaffer,...,2,NaN,0,0,NaN,NaN,14,208,101,8
145,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,3,2,W Jaffer,...,1,NaN,0,0,NaN,NaN,15,207,100,8
146,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,3,3,JH Kallis,...,0,NaN,0,0,NaN,NaN,15,207,99,8
147,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,3,4,JH Kallis,...,1,legbyes,0,0,NaN,NaN,16,206,98,8
148,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,3,5,W Jaffer,...,0,NaN,0,0,NaN,NaN,16,206,97,8
149,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,3,6,W Jaffer,...,0,NaN,0,0,NaN,NaN,16,206,96,8
150,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,4,1,JH Kallis,...,1,NaN,0,0,NaN,NaN,17,205,95,8
151,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,4,2,W Jaffer,...,1,NaN,0,0,NaN,NaN,18,204,94,8
152,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,4,3,JH Kallis,...,0,NaN,0,0,NaN,NaN,18,204,93,8
153,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,4,4,JH Kallis,...,6,NaN,0,0,NaN,NaN,24,198,92,8
154,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,4,5,JH Kallis,...,0,NaN,1,1,caught,M Kartik,24,198,91,7
155,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,4,6,CL White,...,0,NaN,0,0,NaN,NaN,24,198,90,7
156,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,1,W Jaffer,...,0,NaN,0,0,NaN,NaN,24,198,89,7
157,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,2,W Jaffer,...,0,NaN,1,1,caught,RT Ponting,24,198,88,6
158,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,3,MV Boucher,...,0,NaN,0,0,NaN,NaN,24,198,87,6
159,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,4,MV Boucher,...,1,NaN,0,0,NaN,NaN,25,197,86,6
160,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,5,CL White,...,1,NaN,0,0,NaN,NaN,26,196,85,6
161,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,6,MV Boucher,...,0,NaN,0,0,NaN,NaN,26,196,84,6
162,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,1,CL White,...,0,NaN,0,0,NaN,NaN,26,196,83,6
163,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,2,CL White,...,0,NaN,0,0,NaN,NaN,26,196,82,6
164,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,3,CL White,...,1,NaN,0,0,NaN,NaN,27,195,81,6
165,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,4,MV Boucher,...,1,wides,0,0,NaN,NaN,28,194,80,6
166,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,5,MV Boucher,...,1,wides,0,0,NaN,NaN,29,193,79,6
167,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,6,MV Boucher,...,0,NaN,0,0,NaN,NaN,29,193,78,6
168,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,7,MV Boucher,...,0,NaN,0,0,NaN,NaN,29,193,77,6
169,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,8,MV Boucher,...,4,NaN,0,0,NaN,NaN,33,189,76,6
170,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,7,1,CL White,...,1,NaN,0,0,NaN,NaN,34,188,77,6
171,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,7,2,MV Boucher,...,1,legbyes,0,0,NaN,NaN,35,187,76,6
172,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,7,3,CL White,...,1,NaN,0,0,NaN,NaN,36,186,75,6
173,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,7,4,MV Boucher,...,2,NaN,0,0,NaN,NaN,38,184,74,6

In [31]:
match_df['crr']=match_df['current_score']*6/(120-match_df['balls left'])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\186253416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['crr']=match_df['current_score']*6/(120-match_df['balls left'])

In [32]:
match_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls left,wickets,crr
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,NaN,0,0,NaN,NaN,1,221,119,10,6.000000
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,wides,0,0,NaN,NaN,2,220,118,10,6.000000
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,NaN,0,0,NaN,NaN,2,220,117,10,4.000000
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,NaN,0,0,NaN,NaN,3,219,116,10,4.500000
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,NaN,0,0,NaN,NaN,4,218,115,10,4.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217880,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,NaN,0,0,NaN,NaN,110,3,61,8,11.186441
217881,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,NaN,0,0,NaN,NaN,111,2,60,8,11.100000
217882,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,NaN,0,0,NaN,NaN,112,1,59,8,11.016393
217883,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,NaN,0,0,NaN,NaN,113,0,58,8,10.935484
217884,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,NaN,0,0,NaN,NaN,114,-1,57,8,10.857143

In [35]:
match_df['rrr']=match_df['runs_left']*6/(match_df['balls left'])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\2066779482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['rrr']=match_df['runs_left']*6/(match_df['balls left'])

In [36]:
match_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls left,wickets,crr,rrr
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,0,NaN,NaN,1,221,119,10,6.000000,11.142857
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,0,NaN,NaN,2,220,118,10,6.000000,11.186441
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,NaN,2,220,117,10,4.000000,11.282051
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,0,NaN,NaN,3,219,116,10,4.500000,11.327586
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,0,NaN,NaN,4,218,115,10,4.800000,11.373913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217880,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,0,0,NaN,NaN,110,3,61,8,11.186441,0.295082
217881,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,0,0,NaN,NaN,111,2,60,8,11.100000,0.200000
217882,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,0,0,NaN,NaN,112,1,59,8,11.016393,0.101695
217883,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,0,0,NaN,NaN,113,0,58,8,10.935484,0.000000
217884,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,0,0,NaN,NaN,114,-1,57,8,10.857143,-0.105263

In [39]:
def result(row):
    if row['winner']==row['batting_team'] :
        return 1
    else:
        return 0
#jadi batting team and winner same then 1 else 0

In [41]:
match_df['result']=match_df.apply(result , axis=1)
#apply fun is used to apply the result fun in the dataset

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23540\1418623066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_df['result']=match_df.apply(result , axis=1)

In [42]:
match_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls left,wickets,crr,rrr,result
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,NaN,NaN,1,221,119,10,6.000000,11.142857,0
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,NaN,NaN,2,220,118,10,6.000000,11.186441,0
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,NaN,2,220,117,10,4.000000,11.282051,0
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,NaN,NaN,3,219,116,10,4.500000,11.327586,0
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,NaN,NaN,4,218,115,10,4.800000,11.373913,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217880,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,0,NaN,NaN,110,3,61,8,11.186441,0.295082,1
217881,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,0,NaN,NaN,111,2,60,8,11.100000,0.200000,1
217882,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,0,NaN,NaN,112,1,59,8,11.016393,0.101695,1
217883,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,0,NaN,NaN,113,0,58,8,10.935484,0.000000,1
217884,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,0,NaN,NaN,114,-1,57,8,10.857143,-0.105263,1

In [46]:
final=match_df[['batting_team','bowling_team','city','runs_left','balls left','wickets','total_runs_x','crr','rrr','result']]

In [47]:
final

,batting_team,bowling_team,city,runs_left,balls left,wickets,total_runs_x,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,119,10,222,6.000000,11.142857,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,118,10,222,6.000000,11.186441,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,117,10,222,4.000000,11.282051,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,116,10,222,4.500000,11.327586,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,218,115,10,222,4.800000,11.373913,0
...,...,...,...,...,...,...,...,...,...,...
217880,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,61,8,113,11.186441,0.295082,1
217881,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,60,8,113,11.100000,0.200000,1
217882,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,59,8,113,11.016393,0.101695,1
217883,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,58,8,113,10.935484,0.000000,1
217884,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,-1,57,8,113,10.857143,-0.105263,1

In [52]:
#the data has been suffled to reduce biasness 
final=final.sample(final.shape[0])

In [53]:
final

,batting_team,bowling_team,city,runs_left,balls left,wickets,total_runs_x,crr,rrr,result
139506,Sunrisers Hyderabad,Delhi Daredevils,Delhi,107,66,9,187,8.888889,9.727273,1
201399,Kolkata Knight Riders,Chennai Super Kings,Chennai,96,81,7,144,7.384615,7.111111,1
122379,Mumbai Indians,Gujarat Lions,Mumbai,56,35,7,176,8.470588,9.600000,1
175184,Kolkata Knight Riders,Chennai Super Kings,Dubai,99,53,8,192,8.328358,11.207547,0
186164,Mumbai Indians,Kolkata Knight Riders,Navi Mumbai,56,20,3,165,6.540000,16.800000,0
...,...,...,...,...,...,...,...,...,...,...
38476,Delhi Daredevils,Mumbai Indians,Mumbai,94,58,6,183,8.612903,9.724138,0
83740,Chennai Super Kings,Mumbai Indians,NaN,100,87,10,141,7.454545,6.896552,1
121370,Kolkata Knight Riders,Kings XI Punjab,Kolkata,69,70,9,170,12.120000,5.914286,1
200994,Lucknow Super Giants,Sunrisers Hyderabad,Hyderabad,108,49,8,182,6.253521,13.224490,1
4696,Delhi Daredevils,Chennai Super Kings,Chennai,65,62,10,169,10.758621,6.290323,1

In [63]:
final.dropna(inplace=True)#dropping the mkissing values

In [66]:
final=final[final['balls left']!=0]

In [67]:
from sklearn.model_selection import train_test_split
X= final.iloc[:,:-1]
y= final.iloc[:,-1]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2 , random_state=1 )

In [68]:
X_train

,batting_team,bowling_team,city,runs_left,balls left,wickets,total_runs_x,crr,rrr
199582,Lucknow Super Giants,Gujarat Titans,Ahmedabad,110,42,8,227,9.000000,15.714286
77423,Kolkata Knight Riders,Royal Challengers Bangalore,Ranchi,28,24,7,115,5.437500,7.000000
210688,Lucknow Super Giants,Chennai Super Kings,Lucknow,139,92,10,176,7.928571,9.065217
147899,Chennai Super Kings,Kolkata Knight Riders,Chennai,68,84,8,108,6.666667,4.857143
87103,Royal Challengers Bangalore,Mumbai Indians,Mumbai,68,37,6,187,8.602410,11.027027
...,...,...,...,...,...,...,...,...,...
176609,Lucknow Super Giants,Chennai Super Kings,Mumbai,188,104,10,210,8.250000,10.846154
16360,Rajasthan Royals,Kings XI Punjab,Cape Town,90,58,4,139,4.741935,9.310345
152471,Kings XI Punjab,Sunrisers Hyderabad,Hyderabad,201,108,10,212,5.500000,11.166667
80876,Mumbai Indians,Kolkata Knight Riders,Abu Dhabi,117,67,8,163,5.207547,10.477612
77376,Kolkata Knight Riders,Royal Challengers Bangalore,Ranchi,68,70,8,115,5.640000,5.828571

In [77]:
#this will convert strings to numeric
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [78]:
#we checked there is no infinite values
final.describe()

,runs_left,balls left,wickets,total_runs_x,crr,rrr,result
count,100032.000000,100032.000000,100032.000000,100032.000000,100032.000000,100032.000000,100032.000000
mean,93.667546,63.111644,7.536618,168.025002,7.613824,10.410826,0.528821
std,50.776223,33.246651,2.145575,30.571436,2.369217,13.698981,0.499171
min,-16.000000,-3.000000,0.000000,62.000000,0.000000,-510.000000,0.000000
25%,54.000000,35.000000,6.000000,148.000000,6.382979,7.177570,0.000000
50%,93.000000,64.000000,8.000000,168.000000,7.636364,8.923077,1.000000
75%,132.000000,92.000000,9.000000,187.000000,8.896552,11.011988,1.000000
max,286.000000,119.000000,10.000000,287.000000,36.000000,708.000000,1.000000

In [81]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [82]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [83]:
pipe.fit(X_train,y_train)

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [84]:
y_pred=pipe.predict(X_test)

In [85]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8122157244964262

In [86]:
pipe.predict_proba(X_test)

array([[0.01347666, 0.98652334],
       [0.63010246, 0.36989754],
       [0.91554495, 0.08445505],
       ...,
       [0.14007192, 0.85992808],
       [0.06063507, 0.93936493],
       [0.00199224, 0.99800776]])

In [88]:
#using randomforest

In [91]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',RandomForestClassifier(n_jobs=-1))
])

In [92]:
pipe.fit(X_train,y_train)

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', RandomForestClassifier(n_jobs=-1))])

In [93]:
y_pred=pipe.predict(X_test)

In [94]:
accuracy_score(y_test,y_pred)

0.9982506122857

In [96]:
pipe.predict_proba(X_test)#it is providing very much acurate value bu we need a smooth probhability

array([[0.02, 0.98],
       [0.98, 0.02],
       [1.  , 0.  ],
       ...,
       [0.02, 0.98],
       [0.05, 0.95],
       [0.  , 1.  ]])